.card-header {
  display: flex;
  justify-content: center; /* 제목을 중앙에 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  position: relative; /* back-icon을 왼쪽에 고정시키기 위해 상대 위치 설정 */
  padding: 10px;
}

.cardback-icon-container {
  position: absolute; /* 왼쪽에 고정 */
  left: 10px; /* 원하는 만큼 왼쪽에 간격을 둡니다. */
}

.cardheader-title-container {
  flex: 1; /* 제목이 중앙에 위치하도록 flex 설정 */
  display: flex;
  justify-content: center; /* 제목을 수평 중앙에 정렬 */
}

.cardheader-title {
  font-size: 24px;
  margin: 0; /* 불필요한 마진을 제거 */
}
.cardback-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px; /* 텍스트와 간격 조정 */
  cursor: pointer;
}
