/* 메인 콘텐츠 */
.content {
  margin-top: 50px;
  text-align: center;
}

.main-image {
  width: auto;
  height: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.description {
  font-size: 15px;
  color: #5a5a5a;
  line-height: 1.5;
  margin: 10px 25px 10px 25px;
}
/* 홈 버튼 */
.success-button {
  width: 80%;
  height: 45px;
  background-color: #ff9500;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 150px;
}

/* 네비게이션 바 */
.menu {
  width: 100vw;
  max-width: 393px;
}
