/* StockSummary.css */
.myStockProfit-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
}
.question-white {
  width: 20px;
  height: 20px;
  margin-left: 17px;
}

.question-white2 {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}
.question-white3 {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.questionMark {
  text-align: center;
}
.myStockProfit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff9500;
  color: #fff;
  padding: 6% 0% 6% 6%;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  height: 4px;
  border-radius: 15px;
  margin-bottom: 4%;
  cursor: pointer;
  transition: 0.5s ease;
}
.myStockProfit-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.myStockProfit-item span {
  display: flex;
  align-items: center;
}

.myStockProfit-value {
  background: white;
  color: black;
  padding: 8px 15px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid rgb(157, 157, 157);
  text-align: right;
  width: 72%;
  height: 43.5px;
  content: none !important;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.my-profit {
  background: white;
  padding: 8px 15px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid rgb(157, 157, 157);
  text-align: right;
  width: 72%;
  height: 43.5px;
  content: none !important;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ff2200;
}

.my-loss {
  background: white;
  padding: 8px 15px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid rgb(157, 157, 157);
  text-align: right;
  width: 72%;
  height: 43px;
  content: none !important;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #0059ff;
}

/* 모달 스타일 */
.mystockmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mystockmodal-content {
  position: relative;
  background: white;
  padding: 20px 20px 20px 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.mystockmodal-header {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  gap: 20px;
}
.mystockmodal-title {
  margin: 0;
  font-size: 20px;
}
.mystockmodal-image {
  width: 60px;
  height: auto;
  border-radius: 8px;
}
.mystockclose-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

.mystockmodal-body {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-line; /* \n을 줄 바꿈으로 처리 */
}
