.history-button {
  width: 80%;
  background-color: #ff9500;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 45px;
  cursor: pointer;
  transition: 0.5s ease;
}
.history-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.history-box {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 0 20px; /* 좌우 여백을 20px로 설정 */
  text-align: left;
}

.history-box span {
  color: #ff9500;
  font-size: 1.2em;
}
.rabbit07 {
  width: 70px;
  height: auto;
}
.history-list {
  width: 342.4px; /*상위 버튼이랑 넓이 똑같게 고정*/
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.history-list:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.history-list-title {
  margin-right: 15px;
}
.history-list-date {
  margin-right: 15px;
}
.history-list-rank {
  margin-right: 8px;
}
.forwardIcon {
  align-items: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
