.stockinfo-header {
  background-color: #fbcb7e;
  height: 300px;
  margin: 0 0 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

.back-button {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.stockinfo-image {
  display: block;
  margin-top: 50px;
  width: 161px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.stockinfo_content {
  padding: 0 20px 0 20px;
  margin-bottom: 50px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.stockinfo_content::-webkit-scrollbar {
  display: none;
}

.stockinfo_content span {
  font-size: 18px;
}
