.rank-detail-box{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rabbit06{
    margin-bottom: 30px;
}
.rank-detail-box span{
    font-size: 20px;
}
.rank-detail-list{
    width: 350px;
    display: flex;
    align-items: center;
}
.list-box{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.list-box-info{
    /* width: 395px; */
    align-items: center;
    height: 45px;
    display: flex;
    margin-left: 10px;
    border: solid 2px #fde888;
    padding: 5px;
    border-radius: 10px;
}
.list-box-info-name{
    margin-right: 10px;
}
.list-box-info-name span{
    color: gray;
}
.list-box-info-rank span{
    color: #ff3131;
}
.rank-detail-button{
    width: 80%;
    background-color: #ff9500;
    color: white;
    font-size: 14px;
    height: 45px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}
