/* 메인 콘텐츠 */
.quizmain-content {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

/* 퀴즈 메인 캐릭터 */
.quizmain-image {
  width: 70px;
  height: auto;
  margin-left: 240px;
  margin-bottom: -8px;
  margin-top: 20px;
}

/* 총 점수 판 */
.quizmain-total-box {
  width: 80%;
  height: 170px;
  background-color: #fff4c2;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border: none;
  border-radius: 10px;
  margin: 0 auto 40px auto; /* 가운데 정렬 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

/* 나의 참여 현황 */
.quizmain-total {
  padding-top: 15px;
  padding-bottom: 15px;
}

.quizmain-total-title {
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
  margin: 10px 25px 15px 25px;
  font-weight: lighter;
}

.quizmain-total-content {
  margin-bottom: 20px;
}

/* 현황 상세 */
.quizmain-total-detail {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-between; /* 양끝 정렬 */
  width: 85%;
  margin: 0 auto;
}

.quizmain-total-left {
  font-size: 16px;
  color: #000000;
  text-align: left;
  margin-bottom: 3px;
}

.quizmain-total-right {
  font-size: 16px;
  color: #000000;
  text-align: right;
  margin-bottom: 3px;
}

/* 스탬프 */
.quizmain-stamp-box {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* 스탬프 이미지 넣을 공간 */
.quizmain-stamp {
  width: 20%;
  justify-content: center;
  align-items: center;
}

/* 스탬프 이미지 */
.quizmain-stamp-image {
  width: 100%;
  height: auto;
}

/* 오늘 푼 퀴즈/확인 */
.quizmain-today {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 1.5;
  margin: 20px 25px 20px 25px;
}

/* 오늘의 퀴즈 완료 */
.quizmain-today-done {
  font-size: 15px;
  color: #5a5a5a;
  line-height: 1.5;
  margin: 20px 25px 20px 25px;
}

/* 퀴즈시작하기 버튼 */
.quizmain-button {
  width: 80%;
  height: 45px;
  background-color: #ff9500;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.5s ease;
}

.quizmain-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* 꼭 확인해주세요 */
.quizmain-check {
  font-size: 18px;
  color: #5a5a5a;
  line-height: 1.5;
  margin: 10px 50px 10px 50px;
  text-align: left;
}

/* 확인 내용 */
.quizmain-description {
  font-size: 16px;
  color: #5a5a5a;
  line-height: 2.5;
  margin: 10px 50px 10px 50px;
  text-align: left;
}

/* 네비게이션 바 */
.menu {
  width: 100vw;
  max-width: 393px;
}
