/* 메인 콘텐츠 */
.quizfailure-content {
  margin-top: 5px;
  height: 83%;
  width: 90%;
  text-align: center;
  overflow-y: scroll; /* 스크롤 추가 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.AccountMainResult::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}

/* 퀴즈번호&이미지 묶음 */
.quizfailure-num-image {
  display: flex; /* 가로 정렬 */
  justify-content: center; /* 가운데 정렬 */
  gap: 165px; /* 글씨와 이미지 사이 간격 */
  margin-top: 12px;
}

/* 퀴즈번호 */
.quizfailure-number {
  font-size: 20px;
  color: #000000;
  margin-top: 60px;
}

/* 퀴즈실패 캐릭터 */
.quizfailure-image {
  width: 80px;
  height: auto;
  margin-right: -10px;
  margin-bottom: -8px;
}

/* 퀴즈판 */
.quizfailure-board {
  padding: 10px;
  padding-top: 25px;
  width: 90%;
  height: auto;
  background-color: #fff4c2;
  border: none;
  border-radius: 15px;
  margin: 0 auto 30px auto; /* 가운데 정렬 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 오답이에요 묶음 */
.quizfailure-box {
  margin: 20px;
}

/* 오답이에요 주황 네모 */
.quizfailure-nemo {
  padding: 10px;
  width: 65%;
  height: 10px;
  background-color: #ffdd99;
  border: none;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: 15px; /* 아이템 사이 간격 */
}

/* X 이미지 */
.quizfailure-failure-image {
  width: 30px;
  height: auto;
  margin-bottom: 20px;
}

/* 오답이에요! */
.quizfailure-answer {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000000;
}

/* 흰 박스 */
.quizfailure-description-box {
  padding: 20px 0 20px 0;
  width: 90%;
  height: auto;
  background-color: #ffffff;
  color: #ffe2b3;
  border: 2px solid;
  border-radius: 15px;
  margin: 0 auto 20px auto; /* 가운데 정렬 */
  text-align: left;
}

/* 퀴즈 해설 */
.quizfailure-description {
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
  font-weight: lighter;
  margin: 10px 25px 10px 25px;
}

/* 포인트 획득 불가 */
.quizfailure-point {
  font-size: 18px;
  color: #5a5a5a;
  margin: 30px auto 20px auto;
}

/* 오늘의 퀴즈 완료 */
.quizfailure-quiz-done {
  font-size: 18px;
  color: #5a5a5a;
  line-height: 1.5;
  margin: -10px 25px 30px 25px;
}

/* 다음퀴즈 풀기 버튼 */
.quizfailure-button {
  width: 90%;
  height: 45px;
  background-color: #ff9500;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease;
}

.quizfailure-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* 그만풀기 버튼 */
.quizfailure-button-stop {
  width: 90%;
  height: 45px;
  background-color: #c4c0ba;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 70px;
  transition: 0.5s ease;
}

.quizfailure-button-stop:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* 총 몇 포인트 버튼 */
.quizfailure-point-button {
  width: 90%;
  height: 45px;
  background-color: #ff9500;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 70px;
  transition: 0.5s ease;
}

.quizfailure-point-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* 네비게이션 바 */
.menu {
  width: 100vw;
  max-width: 393px;
}
