/* complete */
.plancomplete-content {
  text-align: center;
}
.plancomplete-img {
  margin-top: 50px;
  width: 200px;
}
.plancomplete-description {
  font-size: 18px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}
.plancomplete-description span {
  color: #ff9500;
  font-size: 20px;
}
