.login-container {
  display: "flex";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: "100vh";
  padding: 20px;
}
.login-header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 36px;
}
.login-header span {
  color: #ff9500;
}
.login-bear {
  margin-left: 10px;
  width: 120px;
  height: auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-input-box {
  margin-bottom: 20px;
}
.login-input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.login-button {
  padding: 12px;
  margin-top: 20px;
  background-color: #ff9500;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.login-button:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.login-error {
  color: #ff9500;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
