.mypageInfo {
  margin: 8%;
}
.arrowBackIcoon {
  transform: "scaleX(-1)" !important; /*좌우반전*/
  transition: "transform 0.3s ease";
}

.info-card {
  position: relative;
  background-color: #fef3c7;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-width: 360px;
}

.InfoTitle {
  font-size: 1rem;
  color: #333;
  margin: 0;
  padding: 0;
}

.bear-img {
  position: absolute;
  top: -55px; /* 카드 상단보다 위로 올리기 */
  right: 0px; /* 카드의 오른쪽 외부로 배치 */
  width: 60px; /* 이미지 크기 */
  z-index: 1; /* 카드 내용 위로 오도록 설정 */
}
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  color: #333;
}
.info-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
  color: #333;
}

.label {
  font-size: 1rem;
}
.mytitle {
  font-size: 1.2rem;
  margin: 25px 0 5px 5px;
}

.password-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.edit-btn {
  background-color: #ff9500;
  color: white;
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}
.edit-btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.point-text {
  color: #ff9500;
}

.card-box {
  border: 2px solid #ff9500;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.card-box:hover {
  opacity: 0.8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-subtext {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 8px;
}

.card-link {
  color: #ea580c;
  text-align: left;
  display: block;
}

.myDetail {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.myDetail::-webkit-scrollbar {
  display: none; /* Chrome , Safari , Opera */
}

.InfoTitle::before {
  content: none !important;
}
